 {% extends "base.html.twig" %} {% block content %}
<h1>Movies list :</h1>
{% for movie in movies %}
<h2>{{ movie.name }}</h2>
<h3>{{ movie.director }}</h3>
<p>{{ movie.description }}</p>
{% endfor %} {% endblock %}